/* 
  Contents
  1. Rectangular button pallet
      i1 - A simple rectangular button 
      i2 - A simple rectangular button which changes background color when hovered
      i3 - A hollow rectangular button gets a block background color when hovered
      i4 - A rectangular button which changes scale when hovered - 1
      i5 - A rectangular button which changes scale when hovered - 2
      i6 - A shiny version of i5
      i7 - A button which curves on the edges when hovered
  2. Gradient Button
      Gradient Button basic structure
      i1 - A button with 2 color linear gradient
*/
body {
  padding: auto;
}
/* 
  Rectangular button 
    i1 - A simple rectangular button 
    i2 - A simple rectangular button which changes background color when hovered
    i3 - A hollow rectangular button gets a block background color when hovered
    i4 - A rectangular button which changes scale when hovered - 1
    i5 - A rectangular button which changes scale when hovered - 2
    i6 - A shiny version of i5
    i7 - A button which curves on the edges when hovered
*/
body > * > * {
  margin: 40px;
}
#rectangular button {
  height: 35px;
  width: 75px;
  border: none;
  cursor: pointer;
}
#rectangular button:focus {
  outline: none;
}
#rectangular button::-moz-focus-inner {
  border: none;
}

/* i1 */
#rectangular button.i1 {
  color: white;
  background: purple;
}

/* i2 */
#rectangular button.i2 {
  color: white;
  background: indigo;
  transition: all 0.3s ease-in;
}
#rectangular button.i2:hover {
  background: violet;
}

/* i3 */
#rectangular button.i3 {
  background: none;
  border: 1px solid black;
  transition: all 0.3s ease-in;
}
#rectangular button.i3:hover {
  background: cyan;
  color: white;
  border: none;
}

/* i4 */
#rectangular button.i4 {
  background: rgb(0, 166, 207);
  color: white;
  transition: 0.3s cubic-bezier(0.79, -0.35, 0, 1.87);
}
#rectangular button.i4:hover {
  transform: scale(1.2) translateY(-3px);
}
#rectangular button.i4:active {
  transform: scale(1);
}

/* i5 */
#rectangular button.i5 {
  background: #00a6cf;
  color: white;
  box-shadow: 0px 7px 13px -2px #00000080;
  transition: 0.3s cubic-bezier(0.79, -0.35, 0, 1.87);
}
#rectangular button.i5:hover {
  transform: scale(1.2) translateY(-3px);
  box-shadow: 0px 13px 15px -7px #000000cc;
}
#rectangular button.i5:active {
  transition: none;
  transform: scale(1);
  box-shadow: inset 0px 3px 6px -2px black;
}

/* i6 */
#rectangular button.i6 {
  background: #00a6cf;
  color: white;
  box-shadow: 0px 7px 13px -2px #00000080, inset 0px 2px 4px #ffffffbb;
  transition: 0.3s cubic-bezier(0.79, -0.35, 0, 1.87);
}
#rectangular button.i6:hover {
  transform: scale(1.2) translateY(-3px);
  box-shadow: 0px 13px 15px -7px #000000cc, inset 0px 4px 4px #ffffffbb;
}
#rectangular button.i6:active {
  transition: none;
  transform: scale(1);
  box-shadow: inset 0px 3px 6px -2px #000;
}

/* i7 */
#rectangular button.i7 {
  background: rgb(145, 255, 0);
  color: white;
  box-shadow: 0px 7px 13px -2px #00000080;
}
#rectangular button.i7:hover {
  transform: scale(1.3) translateY(-3px);
  transition: 0.3s cubic-bezier(0.79, -0.35, 0, 1.87);
  border-radius: 10px;
  box-shadow: 0px 13px 15px -7px #000000cc;
}
#rectangular button.i7:active {
  transform: scale(1);
  transition: 0.1s ease-in-out;
  border-radius: 0px;
  box-shadow: inset 0px 3px 6px -2px #000;
}

/* 
  Gradient Button
  gradient button basic structure
  i1 - A button with 2 color linear gradient
 */
#gradient button {
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  height: 35px;
  width: 75px;
}
#gradient button:focus {
  outline: none;
}
/* i1 */
#gradient button.i1 {
  background-image: linear-gradient(#00eeff, #0099ff);
}
