/* 
  Contents
  1. Rectangular button pallet
      i1 - A simple rectangular button 
      i2 - A simple rectangular button which changes background color when hovered
      i3 - A hollow rectangular button gets a block background color when hovered
      i4 - A rectangular button which changes scale when hovered - 1
      i5 - A rectangular button which changes scale when hovered - 2
*/
body {
  padding: auto;
}
/* 
  Rectangular button 
    i1 - A simple rectangular button 
    i2 - A simple rectangular button which changes background color when hovered
    i3 - A hollow rectangular button gets a block background color when hovered
    i4 - A rectangular button which changes scale when hovered - 1
    i5 - A rectangular button which changes scale when hovered - 2
*/
#rectangular {
  margin: auto;
}

#rectangular button {
  height: 35px;
  width: 75px;
  margin: 40px;
  border: none;
}

/* i1 */
#rectangular button.i1 {
  color: white;
  background: purple;
  cursor: pointer;
}
#rectangular button.i1:focus {
  outline: none;
}

/* i2 */
#rectangular button.i2 {
  color: white;
  background: violet;
  transition: all 0.3s ease-in;
  cursor: pointer;
}
#rectangular button.i2:hover {
  background: purple;
}
#rectangular button.i2:focus {
  outline: none;
}

/* i3 */
#rectangular button.i3 {
  background: none;
  border: 1px solid black;
  transition: all 0.3s ease-in;
  cursor: pointer;
}
#rectangular button.i3:hover {
  background: cyan;
  color: white;
  border: none;
}
#rectangular button.i3:focus {
  outline: none;
}

/* i4 */
#rectangular button.i4 {
  background: rgb(0, 166, 207);
  color: white;
  cursor: pointer;
  transition: 0.3s cubic-bezier(0.79, -0.35, 0, 1.87);
}
#rectangular button.i4:hover {
  transform: scale(1.2) translateY(-5px);
}
#rectangular button.i4:focus {
  outline: none;
}

/* i5 */
#rectangular button.i5 {
  background: rgb(0, 166, 207);
  color: white;
  cursor: pointer;
  box-shadow: 0px 7px 13px -2px rgb(0, 0, 0, 0.5);
  transition: 0.3s ease-in-out;
}
#rectangular button.i5:hover {
  transform: scale(1.2) translateY(-5px);
  box-shadow: 0px 13px 15px -7px #000000cc;
}
