body
  padding: 0
  margin: 0
  font-family: sans-serif
  
nav
  padding: 50px;
  text-align: center
  
  > ul
    background: #ddd
    padding: 0
    margin: 0
    list-style-type: none
    border-radius: 5px
    display: inline-block
    
    > li
      float: left
      width: 150px
      height: 65px
      line-height: 65px
      position: relative
      font-size: 14px
      cursor: pointer
      &:hover
        background: #d5d5d5

ul.drop-menu
  list-style-type: none
  position: absolute
  left: 0
  top: 100%
  width: 100%
  padding: 0
  margin: 0
  li
    background: #666
    &:hover
      background: #606060

//Trigger
ul.drop-menu li
  display: none

li:hover > ul.drop-menu li
  display: block 

li:hover > ul.drop-menu
  perspective: 1000px 
  li  
    opacity: 0
    animation: drop 300ms ease-in-out forwards

  @keyframes drop
    0%
      opacity: 0
      transform: rotateY(-90deg) translateY(30px)
    100%
      opacity: 1
      transform: rotateY(0deg) translateY(0px)
